#!/bin/sh
export ZDOTDIR=$HOME/.config/zsh


$HOME/.screenlayout/defaults.sh
xsetroot -cursor_name left_ptr
xdotool mousemove 2880 540
#setxkbmap -option 'caps:ctrl_modifier'
setxkbmap no nodeadkeys -option 'caps:ctrl_modifier'
xcape -e 'Caps_Lock=Escape'

# dwmblocks &
picom --experimental-backends &
# nitrogen --restore &
source ~/.fehbg &

# nm-applet &
# pa-applet &
flameshot &
blueman-applet &

redshift -l 59.93:10.96 -t 6500:4500 &

gnome-keyring-daemon -d -s

# connect to my UIO server
# wget -q --spider http://gnu.org
# while :
# do 
# 	if [ $? -eq 0 ]; then
# 		sshfs -o reconnect,uid=1000,gid=984,ServerAliveInterval=15,ServerAliveCountMax=3 suleymab@login.ifi.uio.no:privat $HOME/uio
# 		break
# 	else
# 		sleep 5
# 		wget -q --spider http://gnu.org
# 	fi
# done
