[Unit]
Description=Pulls files from the UiO server with rsync

[Service]
ExecStart=/usr/bin/rsync -az uio:~/privat/ /home/sully/dev/uio

[Install]
WantedBy=default.target
